.artist-header {
    text-align:center; font-size:40px; color:#222; letter-spacing:1px;
 font-weight:600; word-spacing: "2em"; font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  }

.zoom {
  transition: transform;
  transition-duration: 0.4s;
}
  .zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .thought:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.artist-description {
  font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: black; text-align: left; font-size: 18px; line-height: 140%; text-align: center;
}

.spotlight-header {
  text-align:left; font-size:36px; text-transform:none; color:#222; letter-spacing:1px;
 font-weight:600; word-spacing: "2em"; font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

.galley-header {
  text-align:center; font-size:36px; text-transform:none; color:#222; letter-spacing:1px;
 font-weight:600; word-spacing: "2em"; font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}
.gallery-text {
  text-align:center; font-size:18px; text-transform:none; color:#222; letter-spacing:1px; line-height: 140%;
   word-spacing: "2em"; font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}