.header {
    font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
}
.text {
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 140%;
}