.header {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}
.text {
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 140%;
}