body {
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

  }

  .home-statement-header {
    text-align: right; color:#ffffff; line-height: 120%;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  }

  .home-statement-text {
    text-align:right; color:#ffffff; line-height: 140%;
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  }
  .home-statement-text::after{
    display:block

  }
  
  .spotlight-header {
    color:#000000; line-height: 140%; font-size: 50px;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  }

  .spotlight-text {
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif; line-height: 140%;

  }

  .gallery-header {
    color:#000000; line-height: 140%; font-size: 50px;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  }

  .gallery-text {
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif; line-height: 140%;

  }



  .link-zoom {
    transition: transform 1s;
  }

  .link-zoom:hover {
    transform: scale(1.1);
  }

  .home-artist-zoom {
    transition: transform .4s;
  }
    .home-artist-zoom:hover {
      transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    .home-artist-zoom:hover {
      transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    .underline-magical {
      background-image: linear-gradient(120deg, #efaf40 0%, #815299 100%);
      background-repeat: no-repeat;
      background-size: 0% 0.2em;
      background-position: 0 88%;
      transition: background-size 0.25s ease-in;
    }
    .underline-magical:hover{
      background-size: 100% 10%;
    }

    @media only screen and (max-width: 900px){
      .home-statement-header{text-align:center;}
      .home-statement-text{text-align:center;}
  }