

.page-header {
    text-align:left; font-size:36px; text-transform:none; color:#222; letter-spacing:1px;
 font-weight:600; word-spacing: "2em"; font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}


.bio-text {
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 140%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 50rem;
}
